.video-upload-modal {
    min-height: 80vh !important;
}
.video-upload-modal .modal-header {
    justify-content: flex-end!important;
}
.file-input-icon {
    min-height: 160px;
}
.file-input-icon div {
    height: fit-content !important;
}
.file-input-icon i {
    font-size: 64px !important;
}
.file-input-wrapper input[type="file"] {
    width: 100% !important;
    height: 100%;
    appearance: none;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}