.video-player {
    width: 95% !important;
    height: auto !important;
    z-index: 0 !important;
}
@media only screen and (max-width: 768px) { 
    .video-player {
        width: 100% !important;
    }
}