@page "/watch/{VideoId}"
@rendermode InteractiveServer
<div class="p-3 container-fluid">
    <div class="row">
        <div class="col-12 col-md-9 container-fluid">
            <div class="row">
                <WatchView VideoId="@VideoId"/>
            </div>    
            <div class="row d-none d-md-block">
                <CommentSection />
            </div>
        </div>
        <div class="col-12 col-md-3 container-fluid">
            <div class="row row-cols-1">
                <VideoPlaylist />    
            </div>
            <div class="row d-block d-md-none">
                <CommentSection />                
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string? VideoId { get; set; }
}