<div class="dropstart">
  <button type="button" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-bell"></i>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Menu item</a></li>
    <li><a class="dropdown-item" href="#">Menu item</a></li>
    <li><a class="dropdown-item" href="#">Menu item</a></li>
  </ul>
</div>

@code {
    
}