@using Domain.Entity
@using Domain.Interfaces
@using Domain.Constants
@inject IVideoHttpClient _videoHttpClient
@inject NavigationManager _navigationManager
@implements IAsyncDisposable
<div class="input-group search-bar">
    <AutoComplete @ref="_autocomplete"
        @bind-Value="_videoTitle"
        TItem="Video"
        DataProvider="VideoDataProvider"
        PropertyName="Title"
        Placeholder="Search for a video..."
        OnChanged="OnVideoSelected"
        Class="search-bar-autocomplete">
    </AutoComplete>
</div>
@code {
    private string _videoTitle;
    private AutoComplete<Video> _autocomplete;
    private static IEnumerable<Video> Empty = new List<Video>();
    private async Task<AutoCompleteDataProviderResult<Video>> VideoDataProvider(AutoCompleteDataProviderRequest<Video> request)
    {
        var response = await _videoHttpClient.GetVideosByTitle(request.Filter.Value, request.CancellationToken);
        if (!response.Success)
        {
            return await Task.FromResult(new AutoCompleteDataProviderResult<Video>
            {
                Data = Empty, 
                TotalCount = 0
            });    
        }
        
        return await Task.FromResult(new AutoCompleteDataProviderResult<Video>
        {
            Data = response.Videos, 
            TotalCount = response.Videos.Count()
        });
    }

    private async Task OnVideoSelected(Video video)
    {
        if (Guid.TryParse(video.Id, out var videoId))
        {
            _navigationManager.NavigateTo($"/watch/{videoId.ToEncodedId()}", true, true);    
        }
        await _autocomplete.ResetAsync();
    }

    public async ValueTask DisposeAsync()
    {
        try
        {
            await _autocomplete.DisposeAsync();
        }
        catch (Exception _)
        {
            // ignored
        }
    }

}