
<Modal @ref="_modal" Class="video-upload-modal">
    <HeaderTemplate />
    <BodyTemplate>
        <InputFile class="col-12 col-lg-8 form-control mb-2 mb-lg-0 form-control-sm me-0 me-lg-2 rounded" OnChange="@LoadFiles" />
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
        <Button Color="ButtonColor.Primary">Save changes</Button>
    </FooterTemplate>
</Modal>
<HeadContent>
	<link rel="stylesheet" href="css/components/VideoUploadModal.css" />
</HeadContent>
@code {
    private Modal? _modal;
    private async Task OnHideModalClick()
    {
        if (_modal is null) return;
        await _modal.HideAsync();
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        
    }
    public async Task ShowModalAsync()
    {
        if (_modal is null) return;
        await _modal.ShowAsync();
    }
}