
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <Virtualize Context="id" ItemsProvider="@LoadVideos" SpacerElement="">
        
        <a href="/watch/@(id)" class="text-decoration-none">
            <VideoCard Title="@($"Title_{id}")"/>   
        </a>
    </Virtualize>
</div>
@code {
    private int[] Videos { get; set; } = new int[10_000];
    protected override Task OnInitializedAsync()
    { 
        for (int i = 0; i < Videos.Length; i++)
        {
            Videos[i] = i;
        }
        return base.OnInitializedAsync();
    }

    private async ValueTask<ItemsProviderResult<int>> LoadVideos(ItemsProviderRequest request)
    {
        Thread.Sleep(1000);
        return new ItemsProviderResult<int>(Videos.Skip(request.StartIndex).Take(request.Count), Videos.Count());
    }
}