@using Domain.Model
@rendermode InteractiveServer
<div class="d-flex flex-column video-player-player">

</div>
<HeadContent>
	<link rel="stylesheet" href="css/components/VideoPlayer.css" />
</HeadContent>
@code {
	
	[Parameter]
	public bool HasControls { get; set; }
	
	[Parameter]
	public bool OnHoverPlayback { get; set; }

	[Parameter]
	public List<VideoSourceModel> Sources { get; set; }
	
	[Parameter]
	public VideoSourceModel DefaultSourceModel { get; set; }
	
	private bool IsLoaded { get; set; }
	private bool IsPaused { get; set; } = false;
	private double VideoProgress { get; set; }
	private double VideoDuration { get; set; }
	private double Volume { get; set; } = 1.0f;
	private double PrevVolume { get; set; } = 0.75f;
	private bool ShowVolumeSlider { get; set; } = false;

	private async Task SetSource(VideoSourceModel sourceModel)
	{
		DefaultSourceModel = sourceModel;
		IsPaused = false;
	}

	private Dictionary<string,string> source { get; set; }
}