@using Domain.Interfaces
@using Domain.Model.Query
@using Domain.Model.View
@inject PreloadService _preloadService
@inject IVideoHttpClient _videoHttpClient

<div class="container-fluid video-playlist-container">
    <div class="row row-cols-1">
        @foreach (var video in _videos)
        {
            <VideoCard Video="@video"/>    
        }
    </div>
    <div class="row row-cols-1 my-3">
        <div class="col">
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-dark w-75" @onclick="LoadMoreVideos">Load more</button>
            </div>
        </div>
    </div>
</div>
<Preload Class="preload-block" />
@code {
    private List<VideoPlaylistModel> _videos = new List<VideoPlaylistModel>();
    public int CurrentOffset { get; set; } = 0;
    protected override async Task OnInitializedAsync()
    {
        _videos = new List<VideoPlaylistModel>();
        await LoadMoreVideos();
    }

    private async Task LoadMoreVideos()
    {
        _preloadService.Show();
        var response = await _videoHttpClient.GetVideoPlaylist(CurrentOffset, 12);
        _videos.AddRange(response.Videos);
        await InvokeAsync(StateHasChanged);
        _preloadService.Hide();
    //CurrentOffset += response.Videos.Count();
    }
}