@using System.Globalization

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @for(int i = 0; i < 24; i++)
    {
        <a href="/watch/@(i)" class="text-decoration-none">
            <VideoCard Title="@($"Title_{i}")"/>   
        </a>              
    }
</div>
@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

}