@using System.Globalization
@using Domain.Constants
@using Domain.Interfaces
@using Domain.Model.View
@using System.Collections
@using Domain.Model.Query
@inject PreloadService _preloadService
@inject IVideoHttpClient _videoHttpClient

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @foreach (var video in _videos)
        {
            <VideoCard Video="@video" ShowCreatorInfo="ShowCreatorInfo"/>    
        }
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <SpinnerButton CssClasses="w-50" IsToggle="@false" OnClick="LoadMoreVideos">
                    <Body>
                    Load more
                    </Body>
                </SpinnerButton>
            </div>
        </div>
    </div>
</div>
<Preload Class="preload-block" />
@code {
    [Parameter] public bool ShowCreatorInfo { get; set; } = true;
    [Parameter] public Guid? CreatorId { get; set; }
    private List<VideoPlaylistModel> _videos = new List<VideoPlaylistModel>();
    public int CurrentOffset { get; set; } = 0;
    private bool IsLoaded { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _videos = new List<VideoPlaylistModel>();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !IsLoaded)
        {
            await LoadMoreVideos();
            await InvokeAsync(StateHasChanged);
            IsLoaded = true;
        }
    }

    private async Task LoadMoreVideos()
    {
        _preloadService.Show();
        var response = await _videoHttpClient.GetVideoPlaylist(new GetVideoPlaylistModel()
        {
            From = CurrentOffset,
            Count = 12,
            CreatorId = CreatorId,
            OrderByNewest = true
        });
        _videos.AddRange(response.Videos);
        await InvokeAsync(StateHasChanged);
        _preloadService.Hide();
        CurrentOffset += response.Videos.Count();
    }
}