@using Domain.Model
@using Domain.Model.View
<div class="mb-3 d-flex flex-column">
    <VideoPlayer @ref="_videoPlayer" />
    @if (Metadata is not null)
    {
        <div class="text-start">
            <p class="fs-4 fw-bold mb-1">@Metadata.Title</p>
        </div>
        <div class="d-flex flex-row">
            @* User icon, Username, Subscribe, Likes  *@
        </div>
        <div class="d-inline-block overflow-hidden text-truncate text-nowrap w-100">
            @foreach (var line in Metadata.Description.Split("\n"))
            {
                @line <br/>
            }
        </div>
    }
</div>
@code {
    [CascadingParameter(Name = "Metadata")]
    public VideoMetadataModel? Metadata { get; set; }
    
    private VideoPlayer _videoPlayer { get; set; }

    public Task InitVideoPlayer(List<VideoSourceModel> sources) => _videoPlayer.InitializeVideoPlayer(sources);
    
}