@using Domain.Model
<div class="mb-3">
    <VideoPlayer HasControls="@true" OnHoverPlayback="@false" Sources="@Sources" DefaultSourceModel="@Sources[0]" />
</div>
@code {
    [Parameter]
    public string? VideoId { get; set; }
    private List<VideoSourceModel> Sources = new List<VideoSourceModel>()
    {
        new VideoSourceModel() { Resolution = "1080p", Src = "video/elephants2.mp4", Type = "video/mp4" },
        new VideoSourceModel() { Resolution = "720p", Src = "video/elephants2.mp4", Type = "video/mp4" },
        new VideoSourceModel() { Resolution = "360p", Src = "video/elephants2.mp4", Type = "video/mp4" },
    };
}